
    <!-- Cabeçalho com Menu Hamburguer -->
    <header>
        <div class="container">
            <div class="logo">
                <a href="/" class="logo-link">
                    <img class="logo-avtpet" src="/img/logo-aventura-pet.png" alt="logo aventura pet">
                    <h1>AVENTURA PET</h1>
                </a>
            </div>

            <!-- Menu de Navegação -->
            <nav>
                <ul class="menu-list">
                    <li><a href="/home/pets">Pets</a></li>
                    <li><a href="/home/loja">Loja</a></li>
                    <li><a href="/home/sobre">Sobre</a></li>
                    <li><a href="#contato">Contato</a></li>
                    <li><a href="/adm">Adm</a></li>
                </ul>

                <div class="hamburger" id="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>

                <!-- Ícone com submenu -->
                <div class="menu-icone">
                    <i class="fa-solid fa-user" aria-hidden="true"></i>
                    <ul class="menu-opcoes">
                        <li><a href="/login">Entrar</a></li>
                        <li> <a href="/new-account">Criar conta</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>